@media screen and (min-width: 768px) {
  article {
    text-align: left;
    height: 60%;
    max-height: 22rem;
    width: 95%;
    max-width: 60rem;
    display: flex;
    flex-direction: row-reverse;
    .card {
      &--img {
        height: 100%;
        width: 50%;
        background-image: linear-gradient(to right, $accent--op, $accent--op),
          url(../images/image-header-desktop.jpg);
      }

      &--text {
        height: 100%;
        width: 50%;

        align-items: center;
        justify-content: center;
        gap: calc($baseFontSize * 1.25);

        & > * {
          margin: 0;
          width: 75%;
        }

        h1 {
          font-size: calc($baseFontSize * 1.5);
        }

        p {
          line-height: calc($baseFontSize * 1.5);
        }

        ul.stat-list {
          list-style: none;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: calc($baseFontSize * 3);
          height: auto;
          li.stat {
            align-items: flex-start;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  article {
    max-height: 25rem;

    .card {

      &--text {
        h1 {
          font-size: calc($baseFontSize * 1.75);
        }

        p {
          font-size: calc($baseFontSize * .9);
          line-height: calc($baseFontSize * 1.5);
        }
      }
    }
  }
}
